.UNInput {
    border-radius: 12px;
    border: none;
    background-color: #EEEEEE;
    width: 100%;
    min-height: 48px;
    padding-left: 36px;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;

    &:focus, &:hover {
        background-color: #E6E6E6;
    }

    &__wrapper {
        position: relative;
        border-radius: 12px;
        display: inline-block;
        width: 100%;
        max-width: 420px;

        &-error {
            outline: 2px solid rgb(164, 29, 29);
        }
    }

    &__icon-search {
        position: absolute;
        transform: translateY(50%);
        left: 8px;
        pointer-events: none;
    }

    &__icon-clear {
        position: absolute;
        transform: translateY(50%);
        right: 8px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    &::placeholder {
        color: #9C9C9C;
    }
}