.UNSearchForm {
  display: flex;
  background-color: white;
  z-index: 5;
  gap: 8px;
  width: 100%;
  max-width: 512px;
  position: fixed;
  padding: 0 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .UNApp.submitted & {
    top: 0;
    left: 0;
    transform: none;
    max-width: none;
    justify-content: flex-start;
    padding: 16px calc((100% - (3 * (100% / 3 - 9px))) / 2);

    @media (min-width: 640px) {
      padding: 16px calc((100% - (3 * (100% / 3 - 8px))) / 2);
    }

    @media (min-width: 768px) {
      padding: 16px calc((100% - (4 * (100% / 4 - 16px))) / 2);
    }

    @media (min-width: 1024px) {
      padding: 16px calc((100% - (5 * (100% / 5 - 13px))) / 2);
    }

    @media (min-width: 1280px) {
      padding: 16px calc((100% - (6 * (100% / 6 - 28px))) / 2);
    }

    @media (min-width: 1536px) {
      padding: 16px calc((100% - (7 * (100% / 7 - 24px))) / 2);
    }

    @media (min-width: 2000px) {
      padding: 16px calc((100% - (8 * (100% / 8 - 21px))) / 2);
    }
  }
}
