.UNApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &.submitted {
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 112px 80px;
    }

    @media (max-width: 1279px) and (min-width: 768px) {
        &.submitted {
            padding: 112px 30px;
        }
    }

    @media (max-width: 767px) {
        &.submitted {
            padding: 112px 10px;
        }
    }
}
