.UNImage__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;

  &-item {
    border: 1px solid #ebebeb;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 8px); // 2 в ряд
    width: calc(50% - 8px);

    @media (min-width: 640px) {
      width: calc(33.333% - 8px); // 3 в ряд
      height: calc(33.333% - 8px);
    }

    @media (min-width: 768px) {
      width: calc(25% - 8px); // 4 в ряд
      height: calc(25% - 8px);
    }

    @media (min-width: 1024px) {
      width: calc(20% - 8px); // 5 в ряд
      height: calc(20% - 8px);
    }

    @media (min-width: 1280px) {
      width: calc(16.666% - 8px); // 6 в ряд
      height: calc(16.666% - 8px);
    }

    @media (min-width: 1536px) {
      width: calc(14.285% - 8px); // 7 в ряд
      height: calc(14.285% - 8px);
    }

    @media (min-width: 2000px) {
      width: calc(12.5% - 8px); // 8 в ряд
      height: calc(12.5% - 8px);
    }
  }

  &-img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;

    &-wrapper {
      width: 100% !important;
      height: 100% !important;
      display: flex;
    }
  }
}
